* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  overflow: hidden;
  background: #FAFAFA;
}

body {
  height: 100%;
  overflow: auto;
  color: #3a3a3a;
  font-family: "Roboto", "Verdana";
  font-size: 11px;
}

h2 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  font-size: 8px;
  line-height: 1.4;
  font-weight: 800;
  color: grey;
  margin-bottom: 6px;
}

p {
  line-height: 1.8;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

a {
  color: #3a3a3a;
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  line-height: 1.3;
}

.em {
  font-weight: 800;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.open {
  z-index: 1000;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

video {
  background-color: none;
}

video:focus {
  outline: none;
}

#container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

#nav {
  height: 48px;
  background: white;
  -webkit-box-shadow: 0px 3px 1px 0px #e8e8e8;
          box-shadow: 0px 3px 1px 0px #e8e8e8;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  position: relative;
}

#nav #logo {
  height: 24px;
  width: 130px;
}

#nav #search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 420px;
  margin-left: 120px;
  border-radius: 2px;
  padding: 4px;
  border: 1px solid #FAFAFA;
  background: #fcfcfcfc;
  -webkit-box-shadow: inset 0px 0px 2px 1px #e8e8e8;
          box-shadow: inset 0px 0px 2px 1px #e8e8e8;
}

#modal-btns {
  display: none;
  position: absolute;
  right: 16px;
}

#modal-btns.active {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 1;
}

#modal-btns .button-container {
  height: 100%;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#modal-btns .btn {
  width: 64px;
  height: 32px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 2px 1px #e8e8e8;
          box-shadow: 0px 0px 2px 1px #e8e8e8;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#modal-btns .btn img {
  width: 12px;
  height: 12px;
}

#modal-btns .btn:active {
  background: #EFEFEF;
  -webkit-box-shadow: inset 1px 1px 3px 1px #e8e8e8;
          box-shadow: inset 1px 1px 3px 1px #e8e8e8;
}

#modal-btns .btn:focus {
  outline: none;
}

#modal-btns #back, #modal-btns #next, #modal-btns #index {
  display: none;
  padding: none;
}

#modal-btns #back.show, #modal-btns #next.show, #modal-btns #index.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: none;
}

#modal-btns #file-name, #modal-btns #index {
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
  background: #fcfcfcfc;
  color: #979797;
  cursor: auto;
}

#control-nav {
  width: 180px;
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#side-nav {
  width: 180px;
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: #FFF;
  -webkit-box-shadow: inset -1px 0px 3px #e8e8e8;
          box-shadow: inset -1px 0px 3px #e8e8e8;
  line-height: 1.5;
}

#side-nav #list {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#side-nav .album-container {
  margin-bottom: 12px;
}

#side-nav .category-title {
  color: #9E9E9E;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 4px;
  text-transform: uppercase;
}

#side-nav .category {
  height: 100%;
  width: 100%;
}

#side-nav .category:hover ul {
  display: block;
}

#side-nav .category ul {
  display: none;
}

#side-nav .category ul.active, #side-nav .category ul:hover {
  display: block;
}

#side-nav .category ul .sec-a {
  padding: 2px 12px 0 24px;
  color: #979797;
  line-height: 1;
  overflow: hidden;
  height: 16px;
  white-space: nowrap;
  display: block;
  cursor: pointer;
}

#side-nav .category ul .sec-a.active, #side-nav .category ul .sec-a:hover {
  color: #6849EE;
  font-weight: 500;
}

#side-nav [data-target="Art"] .category:nth-child(2) {
  display: block;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 20px;
  border-radius: 4px;
  padding-left: 6px;
}

.title .ic-arr {
  width: 6px;
  height: 6px;
  background: url("/assets/folder-arr.svg");
  background-size: cover;
  padding-bottom: 2px;
}

.title .side-a {
  padding-left: 2px;
  font-weight: 400;
  line-height: 1.7;
  display: inline-block;
  color: #3a3a3a;
}

.title:hover, .title.hovered {
  background: #F1F1F1;
}

.title:hover .side-a, .title.hovered .side-a {
  font-weight: 500;
  color: #979797;
}

.title:hover .ic-arr, .title.hovered .ic-arr {
  background: url("/assets/folder-arr-active.svg");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.title.active {
  background: #DBD3E7;
}

.title.active > .side-a {
  color: #6849EE;
  font-weight: 500;
}

#gallery {
  position: relative;
  max-height: calc(100vh - 48px);
  width: 100vw;
}

#gallery .gallery-container {
  height: calc(100vh - 48px);
  width: calc(100% - 180px);
  overflow-y: scroll;
}

#gallery .gallery-header {
  height: 24px;
  z-index: 100;
  width: 100%;
  -webkit-box-shadow: 0px 3px 1px 0px #e8e8e8;
          box-shadow: 0px 3px 1px 0px #e8e8e8;
  width: calc(100% - 180px);
  position: absolute;
  top: 0;
  background: #fafafa;
  border-bottom: 2px solid #FFF;
}

#gallery .gallery-tabs {
  position: absolute;
  right: 12px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 18px;
}

#gallery .gallery-tabs .tab {
  padding: 3px 12px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
  max-width: 110px;
  min-width: 84px;
  color: #6B6B6B;
  text-align: center;
  height: 100%;
  cursor: pointer;
  border-radius: 2px 2px 0 0;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#gallery .gallery-tabs .tab:hover {
  background: #F0F1F3;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

#gallery .gallery-tabs .tab.active {
  color: #6849EE;
  font-weight: 500;
  background: #FFF;
  -webkit-box-shadow: 1px 0px 1px #DEE1E6;
          box-shadow: 1px 0px 1px #DEE1E6;
}

#gallery-container {
  position: relative;
  background: #FAFAFA;
  opacity: 0;
  width: 100%;
  opacity: 1;
  -webkit-transition: translateY(0);
  transition: translateY(0);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  z-index: 1;
  overflow-y: scroll;
  padding: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.images {
  display: -ms-grid;
  display: grid;
  margin-top: 24px;
  grid-gap: 16px;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 0px;
  opacity: 0;
}

.images.active {
  opacity: 1;
}

.grid {
  border-radius: 2px;
  overflow: hidden;
}

.grid .grid-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .grid-content .play {
  width: 24px;
  height: 24px;
  background: url("/assets/vid-play.svg");
  position: absolute;
  top: 30%;
  left: 45%;
  z-index: 50;
  background-size: cover;
  opacity: 0.5;
}

.grid .grid-content .play:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.grid .grid-content video, .grid .grid-content .grid-img, .grid .grid-content .gallery-img img, .grid .grid-content .gallery-img video {
  max-height: 100%;
  max-width: 100%;
  display: block;
  width: 100%;
}

.grid .grid-content .gallery-img {
  display: none;
}

.grid .grid-content .gallery-img.active {
  display: block;
}

.grid .grid-content .gal-icon {
  width: 14px;
  height: 14px;
  background: url("/assets/icon-gallery.svg");
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 50;
  background-size: cover;
}

.grid .grid-content .caption {
  /* image grid caption */
  display: none;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  padding: 4px 0 4px;
  position: absolute;
  top: 0;
  font-size: 10px;
}

#modal-container {
  position: fixed;
  top: 48px;
  left: 0;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#modal-container.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  width: calc(100% - 180px);
  height: 100%;
  opacity: 1;
  z-index: 100;
  padding: 6px;
  max-height: calc(100vh - 48px);
}

.modal-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  width: 100%;
  position: relative;
  z-index: 0;
}

.modal-background .modal {
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  width: inherit;
  height: inherit;
}

.modal-background .modal.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  opacity: 1;
}

.modal-background .modal-viewer {
  max-width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-background .modal-viewer .modal-img {
  position: relative;
  width: inherit;
  display: none;
}

.modal-background .modal-viewer .modal-img.active {
  display: block;
}

.modal-background .modal-viewer .modal-img #file {
  display: none;
}

.modal-background .modal-viewer .modal-img img, .modal-background .modal-viewer .modal-img video {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}
/*# sourceMappingURL=style.css.map */